@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
  overscroll-behavior-y: none; /* Evita pull-to-refresh acidental no celular */
  -webkit-tap-highlight-color: transparent; /* Remove outline azul nativo do celular */
}
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 20px);
}